*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: bisque;
}


.calendar{
  width: 500px;
  background-color: blue;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: gray;
  padding: 5px;
}

button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

select{
  font-size: 20px;
  padding-inline-start: 0px 8px;
  border: 1px solid balck;
  border-radius: 5px;
  }

  .daysofweek{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    color: #fff;
    margin-bottom: 10px;
  }


.days, .empty{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px;
  text-align: center;
  border: 3px solid #ccc;
  cursor: pointer;

}

.empty{
  background-color: aquamarine;
  color: black;
  border: 2px solid blueviolet;

}

.current{
  background-color: black;
  color: white;
}